@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>This application is to help ease the pain of managing workstations, printers, and servers information.</h3>

<p>
    Cumbersome spreadsheets and unreliable network scanning tools have their place, but wouldn't it be better to get with the times? <br />
    Using an agile front end application allows for much more granular, reliable, and responsive experience. <br />
    This inventory management system's primary purpose is to track metadata on any device that is connected to the WCCHS local area network.
</p>
