@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    400 North Main Street<br />
    Warsaw, NY 14569 <br />
    <abbr title="Phone">P:</abbr>
    585.786.2233
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:HelpDesk@wcchs.net">WCCHS Helpdesk</a><br />
</address>