@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Wyoming County Community Health System's IT</h3>

<address>
    400 North Main Street<br />
    Warsaw, NY 14569 <br />
    <abbr title="Phone">P:</abbr>
    585.786.2233 <br />
    <abbr title="Fax">F:</abbr>
    585.786.1238
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:HelpDesk@wcchs.net">WCCHS Helpdesk</a><br />
</address>